<div class="container-fluid">
    <h5>DROPDOWN SEARCH</h5>
    <div class="d-flex flex-row flex-nowrap align-self-end" id="esoInvestigatorSearch">
        <dropdown-search
            [searchInputName]="dropdownSearchInputName"
            [searchInputId]="dropdownSearchInputId"
            [searchInputLabel]="dropdownSearchInputLabel"
            [searchInputPlaceholder]="dropdownSearchInputPlaceholder"
            [validationPattern]="dropdownSearchValidationPattern"
            [inputOptions]="dropdownSearchInputOptionsSearch.asObservable()|async"
            [errorMessage]="dropdownSearchErrorMessage"
            [maxResults]="dropdownSearchMaxResults"
            [optionTemplate]="dropdownSearchOptionTemplate"
            (valueSubmitted)="dropdownSearchValueSubmitted($event)"
            (valueSelected)="dropdownSearchValueSelected($event)"
            (doBlur)="dropdownSearchOnBlur($event)">
        </dropdown-search>
        <ng-template let-option="option" #dropdownSearchOptionTemplate>
            <div *ngIf="option.email">
                {{option.id}}
                <br>
                <b>{{option.prop1}}</b>
                <br>
                <span class="pre-line-class">{{option.email}}</span>
            </div>
        </ng-template>
    </div>
    <hr>
    <h5>MODAL WITH COMPONENT</h5>
    <button class="btn btn-sm btn-success" (click)=showModal1()>Show modal</button>
    <hr>
    <h5>MODAL WITH TEMPLATE</h5>
    <button class="btn btn-sm btn-success" (click)=showModal2()>Show modal</button>
    <ng-template #exampleDialogTemplate>
        <div class="modal-header">
            <h5 class="modal-title font-weight-bold">
                <i class="fas fa-upload mr-1"></i>This is a title
            </h5>
        </div>
        <div class="modal-body">
            Some content here
        </div>
        <div class="modal-footer">
            <button id="button_cancel" class="btn btn-sm btn-outline-danger" (click)="close1()">
                Cancel
            </button>
            <button id="button_import"  class="btn btn-sm btn-primary" (click)="submit1()">
                Submit
            </button>
         </div>
    </ng-template>
    <hr>
    <h5>MULTISELECT</h5>
    <div class="row w-50">
        <div class="col">
            <multiselect
                multiselectId="multiselectWithId"
                [allOptions]="multiselectsSecretOptions"
                valueProp="name"
                labelProp="label"
                placeholder="- all -"
                [isDisabled]="false"
                [reset]="resetMultiselectS.asObservable()"
                (updateSelected)="multiselectUpdatesSomething($event)">
            </multiselect>
        </div>
        <div class="col">
            <button id="resetM" class="btn btn-sm btn-outline-danger" (click)="resetMultiselect()">
                Reset multiselect
            </button>
        </div>
    </div>
    <hr>
    <h5>HTML POPOVER</h5>
    <span htmlPopover placement="right-top" class="fas fa-otter fa-2x m-5 d-inline" style="color: purple;">
      <ng-template #popoverTemplate>
          Placement: right-top
          <table class="table table-sm table-striped">
              <thead>
                  <th>Band</th>
                  <th>Magnitude</th>
              </thead>
              <tbody>
                  <tr *ngFor="let b of popoverVals">
                      <td class="text-center">{{b.band}}</td>
                      <td class="text-center">{{b.magnitude}}</td>
                  </tr>
              </tbody>
          </table>
      </ng-template>
    </span>
    <span htmlPopover placement="left-top" class="fas fa-otter fa-2x m-5 d-inline" style="color: violet;">
      <ng-template #popoverTemplate>
          Placement: left-top
          <table class="table table-sm table-striped">
              <thead>
                  <th>Band</th>
                  <th>Magnitude</th>
              </thead>
              <tbody>
                  <tr *ngFor="let b of popoverVals">
                      <td class="text-center">{{b.band}}</td>
                      <td class="text-center">{{b.magnitude}}</td>
                  </tr>
              </tbody>
          </table>
      </ng-template>
    </span>
    <span htmlPopover placement="bottom" class="fas fa-kiwi-bird fa-2x m-5 d-inline" style="color: blue;">
      <ng-template #popoverTemplate>
          Placement: bottom
          <table class="table table-sm table-striped">
              <thead>
                  <th>Band</th>
                  <th>Magnitude</th>
              </thead>
              <tbody>
                  <tr *ngFor="let b of popoverVals">
                      <td class="text-center">{{b.band}}</td>
                      <td class="text-center">{{b.magnitude}}</td>
                  </tr>
              </tbody>
          </table>
      </ng-template>
    </span>
    <span class="m-5 d-inline">Other placement options: right-bottom, left-bottom, top, left, right</span>
</div>
